* {
    
    margin: 0.5%;
    padding: 0%;
    height: max-content;
    position: relative;
}

body {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    grid-template-rows: 100px 100px ;
    grid-template-columns: 100px 100px;
}

header {
    background-color: darksalmon;
    color: darkred;
    font-family: sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}
section {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media screen and (max-width: 600px){

    body {

        grid-template-rows: 50px 50px ;
        grid-template-columns: 50px 50px;

    }
    header {
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;

    }
    section {
        font-size: large;
        text-align: center;
    }
    }